[Unit]
Description=Wifi Fix
Requires=graphical.target
After=graphical.target

[Service]
Type=oneshot
ExecStart=/opt/wifi-fix.sh

[Install]
WantedBy=graphical.target
